<template name="Cement_sidebarMenu">
    <li class="{{isActiveRoute name='cement.home'}}">
        <a href="{{pathFor 'cement.home'}}">
            <i class="fa fa-home"></i> <span>{{_ "cement.sidebarMenu.home"}}</span>
        </a>
    </li>
    <li class="treeview {{isActiveRoute name='acc.payment'}}">
        <a href="{{pathFor 'acc.payment'}}">
            <i class="fa fa-plus"></i>
            <span>{{_ "acc.sidebarMenu.payment"}}</span>
        </a>
    </li>
    <li class="treeview {{isActiveRoute name='acc.received'}}">
        <a href="{{pathFor 'acc.received'}}">
            <i class="fa fa-plus"></i>
            <span>{{_ "acc.sidebarMenu.received"}}</span>
        </a>
    </li>
    <!--Data-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'Cement'}}
        <li class="treeview active">
            <a href="#">
                <i class=""></i>
                <span>CUSTOMER</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu menu-open" style="display: block;">
                {{#if isInRole 'form-customer' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.customer'}}">
                        <a href="{{pathFor 'cement.customer'}}">
                            <i class="fa fa-male"></i> <span>{{_ "cement.sidebarMenu.customer"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'form-sale-order' 'Cement'}}

                    <li class="{{isActiveRoute name='cement.order'}}">
                        <a href="{{pathFor 'cement.order'}}">
                            <i class="fa fa-shopping-cart"></i> <span>{{_ "cement.sidebarMenu.order"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'form-invoice' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.invoice'}}">
                        <a href="{{pathFor 'cement.invoice'}}">
                            <i class="fa fa-file-text"></i> <span>{{_ "cement.sidebarMenu.invoice"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'form-receive-payment' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.receivePayment'}}">
                        <a href="{{pathFor 'cement.receivePayment'}}">
                            <i class="fa fa-money"></i> <span>Receive Payment</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'list-receive-payment-transaction' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.paymentTransactionList'}}">
                        <a href="{{pathFor 'cement.paymentTransactionList'}}">
                            <i class="fa fa-exchange"></i> <span>Payment Transaction</span>
                        </a>
                    </li>
                {{/if}}
                <!--{{#if isInRole 'form-ts-payment' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.tsPayment'}}">
                        <a href="{{pathFor 'cement.tsPayment'}}">
                            <i class="fa fa-money"></i> <span>TSPayment</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'list-ts-payment' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.tsPaymentList'}}">
                        <a href="{{pathFor 'cement.tsPaymentList'}}">
                            <i class="fa fa-exchange"></i> <span>TSPayment List</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'form-tsso-payment' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.tsSoPayment'}}">
                        <a href="{{pathFor 'cement.tsSoPayment'}}">
                            <i class="fa fa-money"></i> <span>TS SO Payment</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'list-tsso-payment' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.tsSoPaymentList'}}">
                        <a href="{{pathFor 'cement.tsSoPaymentList'}}">
                            <i class="fa fa-exchange"></i> <span>TSSO Payment List</span>
                        </a>
                    </li>
                {{/if}}-->
                {{#if isInRole 'form-so-receive-payment' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.saleOrderReceivePayment'}}">
                        <a href="{{pathFor 'cement.saleOrderReceivePayment'}}">
                            <i class="fa fa-money"></i> <span>SO Receive Payment</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'list-so-receive-payment-transaction' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.soPaymentTransaction'}}">
                        <a href="{{pathFor 'cement.soPaymentTransaction'}}">
                            <i class="fa fa-exchange"></i> <span>SO Receive Payment List</span>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class=""></i>
                <span>VENDOR</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" style="display: none;">
                {{#if isInRole 'form-vendor' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.vendor'}}">
                        <a href="{{pathFor 'cement.vendor'}}">
                            <i class="fa fa-male" aria-hidden="true"></i> <span>Vendor</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'form-purchase-order' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.purchaseOrder'}}">
                        <a href="{{pathFor 'cement.purchaseOrder'}}">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            <span>{{_ "cement.sidebarMenu.purchaseOrder"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'form-enter-bill' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.enterBill'}}">
                        <a href="{{pathFor 'cement.enterBill'}}">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            <span>{{_ "cement.sidebarMenu.enterBill"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'list-group-bill' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.groupBillList'}}">
                        <a href="{{pathFor 'cement.groupBillList'}}">
                            <i class="fa fa-list-alt" aria-hidden="true"></i> <span>Group Bill List</span>
                        </a>
                    </li>
                {{/if}}
                <!--<li class="{{isActiveRoute name='cement.prepaidOrder'}}">
				<a href="{{pathFor 'cement.prepaidOrder'}}">
					<i class="fa fa-cart-arrow-down" aria-hidden="true"></i> <span>Prepaid Order</span>
				</a>
			</li>-->
                {{#if isInRole 'form-pay-bill' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.payBill'}}">
                        <a href="{{pathFor 'cement.payBill'}}">
                            <i class="fa fa-money"></i> <span>Pay Bill</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'list-pay-bill-transaction' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.payBillTransactionList'}}">
                        <a href="{{pathFor 'cement.payBillTransactionList'}}">
                            <i class="fa fa-exchange"></i> <span>PayBill Transaction</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'form-po-payment' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.purchaseOrderPayment'}}">
                        <a href="{{pathFor 'cement.purchaseOrderPayment'}}">
                            <i class="fa fa-money"></i> <span>PO Payment</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'list-po-payment-transaction' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.purchaseOrderPaymentTransaction'}}">
                        <a href="{{pathFor 'cement.purchaseOrderPaymentTransaction'}}">
                            <i class="fa fa-exchange"></i> <span>PO Payment Transaction</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole  'form-lending-stock' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.lendingStock'}}">
                        <a href="{{pathFor 'cement.lendingStock'}}">
                            <i class="fa fa-share-square-o"></i> <span>{{_ "cement.sidebarMenu.lendingStock"}}</span>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i>
                <span>Data</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li class="{{isActiveRoute name='cement.transferMoney'}}">
                    <a href="{{pathFor 'cement.transferMoney'}}">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span>Transfer Money</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.transferMoneyRequest'}}">
                    <a href="{{pathFor 'cement.transferMoneyRequest'}}">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span>Transfer Money Request</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.receiveItem'}}">
                    <a href="{{pathFor 'cement.receiveItem'}}">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        <span>Receive Item</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.stockLocation'}}">
                    <a href="{{pathFor 'cement.stockLocation'}}">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <span>{{_ "cement.sidebarMenu.stockLocation"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.locationTransfer'}}">
                    <a href="{{pathFor 'cement.locationTransfer'}}">
                        <i class="fa fa-compress" aria-hidden="true"></i>
                        <span>Location Transfer</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.confirmTransferLocation'}}">
                    <a href="{{pathFor 'cement.confirmTransferLocation'}}">
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <span>Location Transfers Request</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.ringPullTransfer'}}">
                    <a href="{{pathFor 'cement.ringPullTransfer'}}">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                        <span>Ring Pull Transfer</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.ringPullTransferRequest'}}">
                    <a href="{{pathFor 'cement.ringPullTransferRequest'}}">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                        <span>Ring Pull Transfer Request</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.exchangeRingPull'}}">
                    <a href="{{pathFor 'cement.exchangeRingPull'}}">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <span>Exchange Ring Pull</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.companyExchangeRingPull'}}">
                    <a href="{{pathFor 'cement.companyExchangeRingPull'}}">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <span>Company Exchange Ring Pull</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='cement.exchangeGratis'}}">
                    <a href="{{pathFor 'cement.exchangeGratis'}}">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                        <span>Exchange Gratis</span>
                    </a>
                </li>
            </ul>
        </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'reporter' 'Cement'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span>REPORT</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li class="header">
                    <a href="{{pathFor 'cement.mainReport'}}">
                        <i class="fa fa-file-o"></i>
                        <span>MAIN</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='acc.cashReport'}}">
                    <a href="{{pathFor 'acc.cashReport'}}">
                        <i class="fa fa-angle-right"></i> <span>{{_ "acc.sidebarMenu.cashReport"}}</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <span>Customer</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li>
                            <a href="{{customerList}}">
                                <i class="fa fa-file-o"></i>
                                <span>Customer List</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{groupInvoice}}">
                                <i class="fa fa-file-o"></i>
                                <span>Group Invoice Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{groupBalance}}">
                                <i class="fa fa-file-o"></i>
                                <span>Group Balance Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{customerHistory}}">
                                <i class="fa fa-file-o"></i>
                                <span>Customer History</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{customerHistorySO}}">
                                <i class="fa fa-file-o"></i>
                                <span>Customer History SO</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{unpaidSoByCustomer}}">
                                <i class="fa fa-file-o"></i>
                                <span>Unpaid SO by customer</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{termBalance}}">
                                <i class="fa fa-file-o"></i>
                                <span>Unpaid by customer Report</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{unpaidCustomerSummary}}">
                                <i class="fa fa-file-o"></i>
                                <span>Unpaid Customer Summary</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{invoiceByCustomer}}">
                                <i class="fa fa-file-o"></i>
                                <span>Sale By Customer</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{invoiceEnterBill}}">
                                <i class="fa fa-file-o"></i>
                                <span>Sale & EnterBill</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{invoiceByItem}}">
                                <i class="fa fa-file-o"></i>
                                <span>Sale By Item</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{invoiceSummary}}">
                                <i class="fa fa-file-o"></i>
                                <span>Sale Summary</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{receivePayment}}">
                                <i class="fa fa-file-o"></i>
                                <span>Receive Payment</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{saleOrderDetail}}">
                                <i class="fa fa-file-o"></i>
                                <span>Sale Order Detail</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{saleOrder}}">
                                <i class="fa fa-file-o"></i>
                                <span>Sale Order</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{saleOrderSummary}}">
                                <i class="fa fa-file-o"></i>
                                <span>Sale Order Summary</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <span>Vendor</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li>
                            <a href="{{bill}}">
                                <i class="fa fa-file-o"></i>
                                <span>Enter Bill Summary</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{billByItem}}">
                                <i class="fa fa-file-o"></i>
                                <span>Enter Bill By Item</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{billByVendor}}">
                                <i class="fa fa-file-o"></i>
                                <span>Enter Bill By Vendor</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{groupBill}}">
                                <i class="fa fa-file-o"></i>
                                <span>Group Enter Bill</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{payEnterBill}}">
                                <i class="fa fa-file-o"></i>
                                <span>Pay Enter Bill</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{payBillHistory}}">
                                <i class="fa fa-file-o"></i>
                                <span>Vendor History</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{prepaidOrder}}">
                                <i class="fa fa-file-o"></i>
                                <span>Prepaid Order</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <span>Data</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" style="display: none;">
                        <li>
                            <a href="{{companyExchangeRingPull}}">
                                <i class="fa fa-file-o"></i>
                                <span>Company Exchange <br>&emsp;&emsp;Ring Pull</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{exchangeGratis}}">
                                <i class="fa fa-file-o"></i>
                                <span>Exchange Gratis</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{exchangeRingPull}}">
                                <i class="fa fa-file-o"></i>
                                <span>Exchange Ringpull</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{exchangeRingPullStockBalance}}">
                                <i class="fa fa-file-o"></i>
                                <span>Exchange Ringpull <br>&emsp;&emsp;Stock Balance</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{lendingStock}}">
                                <i class="fa fa-file-o"></i>
                                <span>Lending Stock</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{locationTransfer}}">
                                <i class="fa fa-file-o"></i>
                                <span>Location Transfer</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{receiveItemSummary}}">
                                <i class="fa fa-file-o"></i>
                                <span>Receive Item Summary</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ringPullTransfer}}">
                                <i class="fa fa-file-o"></i>
                                <span>Ring Pull Transfer</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{transferMoney}}">
                                <i class="fa fa-file-o"></i>
                                <span>Transfer Money</span>
                            </a>
                        </li>

                        <li class="{{isActiveRoute name='acc.cashReport'}}">
                            <a href="{{pathFor 'acc.cashReport'}}">
                                <i class="fa fa-angle-right"></i> <span>{{_ "acc.sidebarMenu.cashReport"}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'Cement'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cogs"></i>
                <span>SETTING</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu" style="display: none;">
                {{#if isInRole 'setting-advance-discount' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.advanceDiscount'}}">
                        <a href="{{pathFor 'cement.advanceDiscount'}}">
                            <i class="fa fa-level-down"></i> <span>Advance Discount</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-representative' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.rep'}}">
                        <a href="{{pathFor 'cement.rep'}}">
                            <i class="fa fa-group"></i> <span>Reps</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-exchange' 'Cement'}}
                    <li class="{{isActiveRoute name='core.exchange'}}">
                        <a href="{{pathFor 'core.exchange'}}">
                            <i class="fa fa-money"></i> <span>{{_ "core.sidebarMenu.exchange"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-category' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.categroy'}}">
                        <a href="{{pathFor 'cement.category'}}">
                            <i class="fa fa-sitemap"></i> <span>{{_ "cement.sidebarMenu.category"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-unit' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.unit'}}">
                        <a href="{{pathFor 'cement.unit'}}">
                            <i class="fa fa-beer"></i> <span>Unit</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-item' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.item'}}">
                        <a href="{{pathFor 'cement.item'}}">
                            <i class="fa fa-list-ul"></i> <span>{{_ "cement.sidebarMenu.item"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-truck' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.truck'}}">
                        <a href="{{pathFor 'cement.truck'}}">
                            <i class="fa fa-car"></i> <span>Truck</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-item-price-for-customer' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.itemPriceForCustomer'}}">
                        <a href="{{pathFor 'cement.itemPriceForCustomer'}}">
                            <i class="fa fa-usd"></i> <span>{{_ "cement.sidebarMenu.itemPriceForCustomer"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-quantity-range-mapping' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.quantityRangeMapping'}}">
                        <a href="{{pathFor 'cement.quantityRangeMapping'}}">
                            <i class="fa fa-usd"></i> <span>Quantity Range Mapping</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-unit-convert' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.unitConvert'}}">
                        <a href="{{pathFor 'cement.unitConvert'}}">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            <span>Unit Convert</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-term' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.term'}}">
                        <a href="{{pathFor 'cement.term'}}">
                            <i class="fa fa-angle-right"></i> <span>Term</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-payment-group' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.paymentGroup'}}">
                        <a href="{{pathFor 'cement.paymentGroup'}}">
                            <i class="fa fa-angle-right"></i> <span>{{_ "cement.sidebarMenu.paymentGroup"}}</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-credit-validation' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.creditValidation'}}">
                        <a href="{{pathFor 'cement.creditValidation'}}">
                            <i class="fa fa-angle-right"></i> <span>Credit Validation</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-white-list-customer' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.whiteListCustomer'}}">
                        <a href="{{pathFor 'cement.whiteListCustomer'}}">
                            <i class="fa fa-angle-right"></i> <span>White List Customer</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-penalty' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.penalty'}}">
                        <a href="{{pathFor 'cement.penalty'}}">
                            <i class="fa fa-angle-right"></i> <span>Penalty</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-account-integration' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.accountIntegrationSetting'}}">
                        <a href="{{pathFor 'cement.accountIntegrationSetting'}}">
                            <i class="fa fa-angle-right"></i> <span>Account Integrated</span>
                        </a>
                    </li>
                {{/if}}
                <!--<li class="{{isActiveRoute name='cement.accountMapping'}}">-->
                <!--<a href="{{pathFor 'cement.accountMapping'}}">-->
                <!--<i class="fa fa-angle-right"></i> <span>Account Mapping</span>-->
                <!--</a>-->
                <!--</li>-->
                {{#if isInRole 'setting-stock-location-mapping' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.stockAndAccountMapping'}}">
                        <a href="{{pathFor 'cement.stockAndAccountMapping'}}">
                            <i class="fa fa-angle-right"></i> <span>Stock Mapping</span>
                        </a>
                    </li>
                {{/if}}
                {{#if isInRole 'setting-account-mapping' 'Cement'}}
                    <li class="{{isActiveRoute name='cement.accountMapping'}}">
                        <a href="{{pathFor 'cement.accountMapping'}}">
                            <i class="fa fa-angle-right"></i> <span>Account Mapping</span>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </li>
    {{/if}}
</template>