/* Column action width for reactive-table
-----------------------*/

.reactive-table .col-receive-payment {
    width: 70px;
}
.cursor-pointer {
  cursor: pointer;
}
tr.cursor-pointer.sale-doc:hover {
    background: #00aa9a;
    color: #fff;
}